body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    background: #f4f4f4;
    line-height: 100%; /* 20px */
}

header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: #333;
    color: white;
    padding: 20px;
}

h4 {
    color: var(--text-primary, #3A3A3A);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 20px */
    padding: 0px;
    margin: 0px;
}

.buttonText {
    color: var(--button-filled-default-textColor, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: (Roboto, Arial, Helvetica, sans-serif);
    font-size: (16px);
    font-weight: 700;
    line-height: 100%; /* 20.8px */
    letter-spacing: var(--letterSpacing-default, 0px);
    white-space: nowrap;
}

.secondarybuttonText {
    color: #0080FF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: (Roboto, Arial, Helvetica, sans-serif);
    font-size: (16px);
    font-weight: 700;
    line-height: 100%; /* 20.8px */
    letter-spacing: var(--letterSpacing-default, 0px);
    white-space: nowrap;
}

button {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-8, 8px);
    border-radius: var(--radius-medium, 8px);
    border: none; /* Remove default border */
    background: #0080FF;
    flex-wrap: nowrap;
    color: white; /* Ensure text color is white */
    cursor: pointer; /* Change cursor to pointer */
    outline: none; /* Remove default focus outline */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.secondaryButton {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-8, 8px);
    border-radius: var(--radius-medium, 8px);
    border: 1px #0080FF solid; /* Remove default border */
    background: #ffffff;
    flex-wrap: nowrap;
    color: white; /* Ensure text color is white */
    cursor: pointer; /* Change cursor to pointer */
    outline: none; /* Remove default focus outline */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

input {
    display: inline-flex;
    width: 360px;
    padding: 15px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px #E2E2E2 solid;
    background: var(--surface-lighter, #FFF);
    box-shadow: inset 0px 2px 4px 0px var(--additionalcolor-shadow, rgba(73, 73, 73, 0.08));
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

button:focus {
    outline: none; /* Remove focus outline */
}

button:active {
    background: #005bb5; /* Darken background color when pressed */
    transform: translateY(1px); /* Add a slight movement effect when pressed */
}

.container {
    display: flex; /* Ensures that the box items are laid out in a flexible box layout */
    justify-content: space-around;
}

.box {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    border: 1px solid var(--border-default, #E2E2E2);
    background: var(--surface-lighter, #FFF);
    /* content_shadow0 */
    box-shadow: 0px 4px 4px 0px var(--additionalcolor-shadow, rgba(73, 73, 73, 0.04)), 0px 2px 2px 0px var(--additionalcolor-shadow, rgba(73, 73, 73, 0.04));
    margin: 8px;
}

.hero {
    background-image: url('https://example.com/your-background-image.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content:left;
    padding-left: 48px;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero h1 {
    font-size: 3em;
    margin: 0;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .box {
        width: 80%;
    }
}

.icon {
    height: 16px;
    width: 16px;
}

.welcome-text {
    text-align: left;
    max-width: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 120%; /* 38px */
    color: var(--text-primary, #ececec);
}



label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 100%; /* 20px */
    color: var(--text-primary, #3A3A3A);
    margin-bottom: 4px;
}

.inputGroup {
    display: flex;
    width: 499px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: lightgray;
    margin: 5px;
    padding: 10px;
}

.inputButton {
    display: flex;
    flex-direction: row;
    align-items: center; /* Align items in the center */
    gap: 8px;
}